:root{
  --height-de-background-images : 120vh;
  --size-titulo-heade: 2rem;


  /* Paleta de Colores */
  --yellow: #FFF25E;
  --yellowOragen : #E8CD56;
  --oragen: #FED36A;
  --oragen2: #E8B056;
  --oragen3: #FFAC5E;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../public/font/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: 'M PLUS 1';
  src: url(../public/font/MPLUS1-Regular.ttf);
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;/* = 10px */
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{margin: 0;/* overflow-x: hidden; */}
a,a:hover,a:active,a:focus{text-decoration: none;color: rgb(255 255 255);}
ul{list-style: none;padding: 0;}
li{padding: 0}
img{width:100%;object-fit: cover;object-position: center;height: 100%;/* position: absolute; */}
p{padding: 0;margin: 0;}
p,a,span,label{font-family: 'M PLUS 1', sans-serif;}
h1,h2,h3,h4,h5,h6{font-family: 'Titillium Web', sans-serif !important}

/* UTILIDADES */
.content{
  width: 1000px;
  margin: 0 auto;
  max-width: 95%;
}

.flex-c{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}

.btn{
  background-color: green;
  padding: .5rem 1rem;
  display: block;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  margin: 10px;
  border: none;
  transition: background .5s ease;
}
.btn{
  background-color:#8a8d15;
}



/* NAV */
.nav{
  position: sticky;
  top:0;
  z-index:100000;
  width: 100%;
  background-color: #111;
}


.nav__content{
  display: flex;
  justify-content: space-between;
  position: relative;
}


.bars,
.bars::before,
.bars::after
{
  content: '';
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: #fff;
  top: 20px;
  right: 10px;
}

.bars::before,
.bars::after{
  right: 0px;
}
.bars::after{top: 12px;}
.bars::before{
  top: -12px
}
.nav__title{
  color: #fff;
  font-size: var(--size-titulo-heade);
  align-self: flex-start;
  padding: 0;
}

.nav__h1{margin: 0;text-transform: uppercase;font-size: 4rem;}

.bars__input{display: none;}
.bars__icono{
  color: #fff;
  font-size: var(--size-titulo-heade);
  width: 100px;
  height: 100%;
  display: block;
  text-align: center;
  height: 40px;
  padding: .6rem;
}

.nav-links--mobile{
  display: block;
  position: absolute;
  background-color: #111;
  width: 100%;
  top:-250px;
  transition: top .5s ease;
}

.nav-links__li--mobile{text-align: center;}
.nav-links__a--mobile{
  text-align: center;
  padding: 1rem 0;
  display: block;
  font-size: 2rem;
}

.nav-links__a--mobile:hover{
  background-color: rgba(255,255,255,.2);
  color: #fff;
  text-decoration: none;
}

#check:checked ~ .nav-links--mobile {
   top: 49px;
}

@media screen and (min-width: 500px){
  .bars__icono{
    display: none;
  }

  .nav-links{
    position: static;
    transform: translate(0,0);
    display: inline-block;
    width: 50%;
  }
  .nav-links__ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
  }
  .nav-links__li{
    display: inline-block;
  }
  .nav-links__a{
    width: auto;
    padding: 0;
    display: inline;
    padding: 0 .5rem;
  }

}

@media screen and (min-width: 650px){
  .nav-links__a{padding: 0 1rem;}
}

@media screen and (min-width: 750px){
  .nav-links__a{padding: 0 2rem;/* height: 100%; */}
}
/* Header */


.carrusel{
  height: 100vh;
  overflow: hidden;
  color: #fff;
  position: relative;
}

.carrusel__content{
  height: 100%;
  position: relative;
  transition: all .5s ease;
}

.carrusel__items{
  background-color: #ddd;
  height: 100%;
}

.anima{
  animation-name: despla;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.img__header{
  width: 100%;
  height: 100%;
}

.img__header::before{
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: center;
  filter: brightness(.7) saturate(1.5);
  position: relative;
}
.img__header.A::before{
  background-image: url('../public/img/header1.webp');
}
.img__header.B::before{
  background-image: url('../public/img/header2.webp');
}
.img__header.C::before{
  background-image: url('../public/img/header3.webp');
}

.header__1{
  font-size: 10rem;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.carrusel__flechas{
  /* background: rgba(122,43,32,.5); */
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 4rem;
  font-weight: 800;
}

@keyframes despla {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.header{
   background-color: transparent;
   position: absolute;
   z-index: 1000;
   top: 0;
   width: 100%;
}

.header__content{
  /* width: 100%; */
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}



.header__title{
  font-size: 4rem;
  text-transform: uppercase;
}

.header__para{
  font-size: 1.7rem;
  line-height: 1.7;
  color: #ddd;
}

@media screen and (min-width: 600px){
  .header__item{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header__title{
    width: 400px;
    margin: 0 auto;
    position: static;
    }
    .header__para{
      /* margin-left: 18rem; */
      /* padding: 0; */
    }
}





/* productos */
.productos{margin: 2.5rem 0;}
.productos__titulo{
  font-size: 3rem;
  text-align: center;
  margin: 6rem 0;
  font-weight: 800;
}

.productos__grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-auto-columns: repeat(auto-fit,minmax(300px, 1fr));
  grid-auto-rows: repeat(auto-fit, 100px);
}

@media screen and (min-width: 800px){
  .productos__grid{
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-auto-columns: repeat(auto-fit,minmax(400px, 1fr));
  }
}

.productos__arct{
  transition: box-shadow .5s ease;
  /* display: flex; */
  -webkit-box-shadow: 0px 0px 10px 2px rgba(194,194,194,1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(194,194,194,1);
  box-shadow: 0px 0px 10px 2px rgba(194,194,194,1);
  /* width: 100%; */
  max-width: 400px;
}
.productos__arct:hover{
  -webkit-box-shadow: 0px 0px 10px 2px rgba(100,100,100,1);
-moz-box-shadow: 0px 0px 10px 2px rgba(100,100,100,1);
box-shadow: 0px 0px 10px 2px rgba(100,100,100,1);
}

@media screen and (min-width: 400px){
  .productos__arct{
    display: flex;
    /* width: 100%; */
  }
}

.productos__img{
  max-width: 100%;
  max-width: 400px;
}


.productos__content{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productos__marca{
  color: #666;
  font-weight: 600er;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.productos__title{
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  color: #222;
  text-transform: capitalize;
}


.productos__cantidad{
  color: #666;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 0;
}

.productos__para{
  font-size: 1.5rem;
  color: #444;
}
.productos__precio{
  font-size: 2.3rem;
  color: green;
  font-weight: 600;
  display: block;
}
.productos__precio span {font-size: 1.8rem;}
.productos__precio--bs{font-size: 2rem;}
.productos__precio--bs span{font-size: 1.5rem;}
.productos__content .btn{
  margin:1rem 0;
  font-size: 1.5rem;
}

.productos__btn{
  font-size: 2rem;
  margin: 6rem auto;

}

@media screen and (min-width: 650px){
  .productos__btn--content{
    text-align: center;
  }

  .productos__btn{
    display: inline-block;
    padding: .5rem 10rem;
    text-align: center;
    width: 40%;
  }
}


.serviceHeader{
  height: 70vh;
  width: 100%;
  position: relative;
}

.serviceHeader::before{
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  background-image: url('../public/img/serviceHeader.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  filter: brightness(.5) saturate(1.5);
  position: relative;
  z-index: 10;
}

.serviceHeader__div{
  background-color: transparent;
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
}

.serviceHeader__content{
  color: #ddd;
  background-color: rgba(5,5,5,.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

@media screen and (min-width: 650px){
  .serviceHeader__content{
    width: 50%;
  }
}

@media screen and (min-width: 1300px){
  .serviceHeader__content{padding-left: 12rem}
}

.serviceHeader__title{
  margin: 0;
  padding:3rem 1rem;
  font-size: 2rem;
}


.serviceHeader__paraf{
  margin: 0;
  padding: 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
}




/* Servicios */
.service{
  font-size: 2rem;
  text-align: center;
}

.service__titulo{
  font-weight: 600;
  margin: 5rem auto;
  text-transform: uppercase;
}

.service__grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-template-rows: repeat(auto-fit,minmax(350px,1fr));
  grid-gap: 10px;
}


.service__img{
  height: 50%
}


.service__title{
  font-weight: 600;
  font-size: 2.6rem;
  text-transform: capitalize;
}

.service__paraf{
  padding: 0 1rem;
}

.service__btn--content{
  margin: 5rem 0;
}

.service__btn{
  text-align: center;
  display: inline-block;
  padding: 1rem 15rem;
  font-size: 2rem;
  outline: solid 5px var(--oragen2);
  background-color: transparent;
  color: var(--oragen3);
  transition: background color .5s ease;
}

@media screen and (max-width: 400px){
  .service__btn{
    padding: 1rem 0;
    display: block;
  }
}
.service__btn:hover{
  background-color: var(--oragen2);
  color: #fff;
}




/* footer */
.footer{
  background-color: #222;
}

.footer__p{
  background-color: #111;
  text-align: center;
  color: #ddd;
  padding: 1rem 0;
}


/* Map */
.map {
	height: 500px;
	width: 100%;
}



/* contacto */
.contacto{
  display: flex;

}


.formulario{
  width: 50%;
  padding: 3rem;
}

.formulario__h2{
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.formulario__fieldset legend{
  font-size: 2rem;
  text-transform: capitalize;
}
.contacto__map{
  width: 50%;
  min-height: 00px;
}


.formulario__email{

}
.formulario__casula{
  margin: 1rem 0;
}
.formulario__label{
  font-size: 1.6rem;
}
.formulario__input,
.formulario__textarea{
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #ddd;
  font-size: 1.6rem;
}

.formulario__textarea{}

.formulario__title{
  font-size: 2rem;

}
.formulario__p{font-size: 1.5rem;padding-left: 1rem;}

.formulario__btn{
  font-size: 1.6rem;
  color: var(--oragen3);
  background-color: transparent;
  border: solid 5px var(--oragen3);
  padding: .5rem 5rem;
}
.formulario__btn:hover{
  background-color: var(--oragen3);
  color: #fff;
}

/* animacion */

.animateDown{
  animation-name: animacionDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes animacionDown {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
