
  <%- include('layouts/header.ejs')%>


<!-- MAIN -->
<main>
  <!-- PRODUCTOS -->
 <section class="productos">
    <div class="content">

      <h3 class="productos__titulo">En Venta</h3>

      <div class="productos__grid">


        <% for (var i = 0; i < 6; i++) { %>
          <%- include('partials/producto.ejs')%>
        <%}%>

      </div>
    </div>

    <div class="productos__btn--content">
      <a href="/productos" class="btn productos__btn">Ver mas</a>

  </div>

 </section>
<!-- PRODUCTOS END -->

<!-- SERVICEHEADER -->
<section class="serviceHeader">
  <div class="serviceHeader__div">
    <div class="serviceHeader__content">
    <div class="content">

        <h3 class="serviceHeader__title">Servicio de reparacion de cajas sincronicas</h3>
        <p class="serviceHeader__paraf">
          Desarmado, reparacion y armado de todo tipo de cajas sincronicas tanto para vehiculos de carga como particulares, y tambio revios completa de vehiculos de carga, carnades, disco, caja sincronica, el palanqui etc.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- SERVICEHEADER END -->

<!-- SERVICE -->
<section class="service">
  <div class="content">
    <h3 class="service__titulo">Servicios</h3>
    <section class="service__grid">

      <% for (var i = 0; i < 8; i++) { %>
        <%- include('partials/services-partials.ejs')%>
      <%}%>

    </section>

    <div class="service__btn--content">
      <a href="/services" class="service__btn btn">Ver mas</a>
    </div>
  </div>
</section>
<!-- SERVICE END -->

<!-- MAP -->
<div class="map" id="map"></div>
<!-- MAP END -->


</main>
<!-- MAIN END -->


<!-- FOOTER -->
<footer class="footer">
  <div class="content">
  <p class="footer__p">© 2022 Mecaninsa, c.a , All Rights Reserved.</p>
</footer>
<!-- FOOTER END -->







  <script src="scripts/googleapis.js" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap" defer></script>
  <script src="scripts/carrusel.js" charset="utf-8"></script>
  <script src="scripts/main.js" charset="utf-8"></script>

</body>
</html>
