
  <%- include('partials/header.ejs')%>


<!-- MAIN -->
<main>
  <!-- PRODUCTOS -->
 <section class="productos">
    <div class="content">

      <h3 class="productos__titulo">En Venta</h3>

      <div class="productos__grid">

        <article class="productos__arct">
          <div class="productos__img">
            <img src="img/product.webp" alt="">
          </div>
          <div class="productos__content">
            <div class="productos__content--arriba">
              <p class="productos__marca">Fiesta Power</p>
              <span class="productos__precio"><span>U$S </span>20</span>
              <span class="productos__precio productos__precio--bs"><span>Bs. </span>80</span>

            </div>

            <div class="productos__content--centro">
              <h4 class="productos__title">Crucetas de Fiesta</h4>
              <p class="productos__para">Piñon de retro - modelo 432 - 20 dientes</p>

            </div>

            <div class="productos__content--bajo">
              <p class="productos__cantidad">disponible 4</p>
              <a href="product.html" class="btn">Contactanos</a>
            </div>

          </div>
        </article>



        <article class="productos__arct">
          <div class="productos__img">
            <img src="img/product.webp" alt="">
          </div>
          <div class="productos__content">
            <div class="productos__content--arriba">
              <p class="productos__marca">Fiesta Power</p>
              <span class="productos__precio"><span>U$S </span>20</span>
              <span class="productos__precio productos__precio--bs"><span>Bs. </span>80</span>

            </div>

            <div class="productos__content--centro">
              <h4 class="productos__title">Crucetas de Fiesta</h4>
              <p class="productos__para">Piñon de retro - modelo 432 - 20 dientes</p>

            </div>

            <div class="productos__content--bajo">
              <p class="productos__cantidad">disponible 4</p>
              <a href="product.html" class="btn">Contactanos</a>
            </div>

          </div>
        </article>





        <article class="productos__arct">
          <div class="productos__img">
            <img src="img/product.webp" alt="">
          </div>
          <div class="productos__content">
            <div class="productos__content--arriba">
              <p class="productos__marca">Fiesta Power</p>
              <span class="productos__precio"><span>U$S </span>20</span>
              <span class="productos__precio productos__precio--bs"><span>Bs. </span>80</span>

            </div>

            <div class="productos__content--centro">
              <h4 class="productos__title">Crucetas de Fiesta</h4>
              <p class="productos__para">Piñon de retro - modelo 432 - 20 dientes</p>

            </div>

            <div class="productos__content--bajo">
              <p class="productos__cantidad">disponible 4</p>
              <a href="product.html" class="btn">Contactanos</a>
            </div>

          </div>
        </article>





        <article class="productos__arct">
          <div class="productos__img">
            <img src="img/product.webp" alt="">
          </div>
          <div class="productos__content">
            <div class="productos__content--arriba">
              <p class="productos__marca">Fiesta Power</p>
              <span class="productos__precio"><span>U$S </span>20</span>
              <span class="productos__precio productos__precio--bs"><span>Bs. </span>80</span>

            </div>

            <div class="productos__content--centro">
              <h4 class="productos__title">Crucetas de Fiesta</h4>
              <p class="productos__para">Piñon de retro - modelo 432 - 20 dientes</p>

            </div>

            <div class="productos__content--bajo">
              <p class="productos__cantidad">disponible 4</p>
              <a href="product.html" class="btn">Contactanos</a>
            </div>

          </div>
        </article>



        <article class="productos__arct">
          <div class="productos__img">
            <img src="img/product.webp" alt="">
          </div>
          <div class="productos__content">
            <div class="productos__content--arriba">
              <p class="productos__marca">Fiesta Power</p>
              <span class="productos__precio"><span>U$S </span>20</span>
              <span class="productos__precio productos__precio--bs"><span>Bs. </span>80</span>

            </div>

            <div class="productos__content--centro">
              <h4 class="productos__title">Crucetas de Fiesta</h4>
              <p class="productos__para">Piñon de retro - modelo 432 - 20 dientes</p>

            </div>

            <div class="productos__content--bajo">
              <p class="productos__cantidad">disponible 4</p>
              <a href="product.html" class="btn">Contactanos</a>
            </div>

          </div>
        </article>


        <article class="productos__arct">
          <div class="productos__img">
            <img src="img/product.webp" alt="">
          </div>
          <div class="productos__content">
            <div class="productos__content--arriba">
              <p class="productos__marca">Fiesta Power</p>
              <span class="productos__precio"><span>U$S </span>20</span>
              <span class="productos__precio productos__precio--bs"><span>Bs. </span>80</span>

            </div>

            <div class="productos__content--centro">
              <h4 class="productos__title">Crucetas de Fiesta</h4>
              <p class="productos__para">Piñon de retro - modelo 432 - 20 dientes</p>

            </div>

            <div class="productos__content--bajo">
              <p class="productos__cantidad">disponible 4</p>
              <a href="product.html" class="btn">Contactanos</a>
            </div>

          </div>
        </article>

    </div>

  <div class="productos__btn--content">
  <a href="producto.html" class="btn productos__btn">Ver mas</a>

  </div>

 </section>
<!-- PRODUCTOS END -->

<!-- SERVICEHEADER -->
<section class="serviceHeader">
  <div class="serviceHeader__div">
    <div class="serviceHeader__content">
    <div class="content">

        <h3 class="serviceHeader__title">Servicio de reparacion de cajas sincronicas</h3>
        <p class="serviceHeader__paraf">
          Desarmado, reparacion y armado de todo tipo de cajas sincronicas tanto para vehiculos de carga como particulares, y tambio revios completa de vehiculos de carga, carnades, disco, caja sincronica, el palanqui etc.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- SERVICEHEADER END -->

<!-- SERVICE -->
<section class="service">
  <div class="content">
    <h3 class="service__titulo">Servicios</h3>
    <section class="service__grid">


        <div class="service__items">
          <img class="service__img" src="img/cardan.webp" alt="">
          <h4 class="service__title">Metalizaciones de Ejes Corredizos y de Mando</h4>
          <p class="service__paraf">Recuperamos las puntas de los ejes corredizos garantizando la duresa original de fabrica</p>
        </div>

        <div class="service__items">
          <img class="service__img" src="img/cardan.webp" alt="">
          <h4 class="service__title">Rectificacion de Velocidades</h4>
          <p class="service__paraf">Rectificacion del cono dek diente en el sincronico</p>
        </div>

        <div class="service__items">
          <img class="service__img" src="img/cardan.webp" alt="">
          <h4 class="service__title">transformacion de Ejes</h4>
          <p class="service__paraf">
            conversion de ejes para todo tipo de cajas sincronicas
          </p>
        </div>

        <div class="service__items">
          <img class="service__img" src="img/cardan.webp" alt="">
          <h4 class="service__title">Alineacion de Cardanes</h4>
          <p class="service__paraf">Reparacion de Palancas, Base de Palanca, Horquillas, Tapas y Cascos</p>
        </div>



      <div class="service__items">
        <!-- <h2 class="service__titulo">Cardanes</h2> -->
        <img class="service__img" src="img/cardan.webp" alt="">
        <h4 class="service__title">Enderizacion de Cardanes</h4>
        <p class="service__paraf">Enderezamos y balanceamos por efecto termico.</p>
      </div>

      <div class="service__items">
        <img class="service__img" src="img/cardan.webp" alt="">
        <h4 class="service__title">Cambio de orejas y espigas</h4>
        <p class="service__paraf">Realizamos cambio de orejas y espigas,recorte y alargue</p>
      </div>



      <!-- <h2 class="service__titulo">Reparacion y Rectificacion</h2> -->
      <div class="service__items">
        <img class="service__img" src="img/cardan.webp" alt="">
        <h4 class="service__title">Rectificacion de volantes</h4>
        <p class="service__paraf">se metaliza la punta de las torres</p>
      </div>
      <div class="service__items">
        <img class="service__img" src="img/cardan.webp" alt="">
        <h4 class="service__title">Reparacion de Puntas de ejes</h4>
        <p class="service__paraf">cambio y adaptacion de estria de puntas de ejes, ajuste de base del Rodamiento </p>
      </div>


    </section>

    <div class="service__btn--content">
      <a href="#" class="service__btn btn">Ver mas</a>
    </div>
  </div>
</section>
<!-- SERVICE END -->

<!-- MAP -->
<div class="map" id="map"></div>
<!-- MAP END -->


</main>
<!-- MAIN END -->


<!-- FOOTER -->
<footer class="footer">
  <div class="content">
  <p class="footer__p">© 2022 Mecaninsa, c.a , All Rights Reserved.</p>
</footer>
<!-- FOOTER END -->







  <script src="scripts/googleapis.js" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap" defer></script>
  <script src="scripts/carrusel.js" charset="utf-8"></script>
  <script src="scripts/main.js" charset="utf-8"></script>

</body>
</html>
