<article class="productos__arct">
  <div class="productos__img">
    <img src="img/product.webp" alt="">
  </div>
  <div class="productos__content">
    <div class="productos__content--arriba">
      <p class="productos__marca">Fiesta Power</p>
      <span class="productos__precio"><span>U$S </span>20</span>
      <span class="productos__precio productos__precio--bs"><span>Bs. </span>80</span>

    </div>

    <div class="productos__content--centro">
      <h4 class="productos__title">Crucetas de Fiesta</h4>
      <p class="productos__para">Piñon de retro - modelo 432 - 20 dientes</p>

    </div>

    <div class="productos__content--bajo">
      <p class="productos__cantidad">disponible 4</p>
      <a href="/product" class="btn">Ver Mas</a>
    </div>

  </div>
</article>
