<div class="service__items">
  <img class="service__img" src="https://images.carid.com/coan-engineering/items/coa-22712-221-blr.jpg" alt="">
  <h3 class="service__title">Alineacion de Cardanes</h3>
  <p class="service__paraf">Reparacion de Palancas, Base de Palanca, Horquillas, Tapas y Cascos</p>
</div>
