
<!-- FOOTER -->
<footer class="footer">
  <div class="content">
  <p class="footer__p">© 2022 Mecaninsa, c.a , All Rights Reserved.</p>
  </div>
</footer>
<!-- FOOTER END -->







<script src="scripts/googleapis.js" charset="utf-8"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap" defer></script>

<script src="scripts/carrusel.js" charset="utf-8"></script>
<script src="scripts/main.js" charset="utf-8"></script>
</body>
</html>
