<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="application-name" content="Mecaninsa">
  <meta name="author" content="Andres Roche, AndresRocheDavid@hotmail.com">
  <meta name="title" content="Mecaninsa">
  <meta name="keywords" content="Mecaninsa, caja sincronicas, servicios de toneria, reparacion de cajas de camiones, reparacion, reparacion de cajas de camiones,">
  <meta name="descripción" content="Mecaninsa una empresa mecanica con ventas de piezas sincronicas y servicios de torneria, reparacion de cajas y camiones">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="canonical" href="https://mecaninsa.com">

  <title>Mecaninsa</title>


  <!-- Normalize -->
  <link rel="stylesheet" href="css/normalize.css">

  <!-- Master css -->
  <link rel="stylesheet" href="css/master.css">
</head>
<body>

  <!-- NAV -->
  <nav class="nav">
    <div class="content">
      <div class="nav__content">

          <div class="nav__title">
            <h1 class="nav__h1"><a href="/">Mecaninsa</a></h1>
          </div>


          <input type="checkbox" id="check" class="bars__input">
          <label for="check" class="bars__icono flex-c"><span class="bars"></span></label>



        <nav class="nav-links nav-links--mobile">
          <ul class="nav-links__ul nav-links__ul--mobile">
            <li class="nav-links__li nav-links__li--mobile">
              <a href="/" class="nav-links__a nav-links__a--mobile">Home</a>
            </li>
            <li class="nav-links__li nav-links__li--mobile">
              <a href="/productos" class="nav-links__a nav-links__a--mobile">Productos</a>
            </li>
            <li class="nav-links__li nav-links__li--mobile">
              <a href="/nosotros" class="nav-links__a nav-links__a--mobile">Nosotros</a>
            </li>
            <li class="nav-links__li nav-links__li--mobile">
              <a href="/services" class="nav-links__a nav-links__a--mobile">Servicios</a>
            </li>
            <li class="nav-links__li nav-links__li--mobile">
              <a href="/contactos" class="nav-links__a nav-links__a--mobile">Contactanos</a>
            </li>
          </ul><!--nav-links__ul-->
        </nav><!--nav-links-->

      </div><!--nav__content-->
    </div><!--content-->
  </nav>
  <!-- NAV END -->


<!-- HEADER -->
<header class="carrusel">
  <div class="carrusel__content anima" id="itemCarrusel-1">
      <div class="carrusel__items">
          <div class="img__header A">
            <div class="header__1">
              <div class="header__content content">
                <h2 class="header__title">Somos</h2>
                <p class="header__para">Una empresa metalmecánica con mas de 40 años de experiencia con cajas sincronicas</p>
              </div>
            </div>
          </div>
      </div>
      <div class="carrusel__flechas">
        <a href="#itemCarrusel-3">
          <i class="carrusel__desplazamiento"><</i>
        </a>
        <a href="#itemCarrusel-2">
          <i class="carrusel__desplazamiento">></i>
        </a>
      </div>
    </div>

    <div class="carrusel__content" id="itemCarrusel-2">
      <div class="carrusel__items">
        <div class="img__header B">
          <div class="header__1">
            <div class="header__content content">
              <h2 class="header__title">Mision</h2>
              <p class="header__para">Ofrecer un servicio especializado, referente a la reconstrucción y recuperación de piezas de cajas</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carrusel__flechas">
        <a href="#itemCarrusel-1">
          <i class="carrusel__desplazamiento"><</i>
        </a>
        <a href="#itemCarrusel-3">
          <i class="carrusel__desplazamiento">></i>
        </a>
      </div>
    </div>

    <div class="carrusel__content" id="itemCarrusel-3">
      <div class="carrusel__items">
        <div class="img__header C">
          <div class="header__1">
            <div class="header__content content">
              <h2 class="header__title">Vision</h2>
              <p class="header__para">Ser lider en la área de la reconstrucción y recuperacion de piezas mecánica para el sector automotriz</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carrusel__flechas">
        <a href="#itemCarrusel-2">
          <i class="carrusel__desplazamiento"><</i>
        </a>
        <a href="#itemCarrusel-1">
          <i class="carrusel__desplazamiento">></i>
        </a>
      </div>
    </div>
</header>
<!-- HEADER END -->
