
<%- include('../layouts/header.ejs')%>

<!-- MAIN -->
<main>

<section class="contacto">
  <form class="formulario" action="index.html" method="post">
    <div class="content">
      <h2 class="formulario__h2">Contactos</h2>


      <div class="formulario__numeroTelef">
        <fieldset class="formulario__fieldset">
          <legend class="formulario__title">Numero Telefonico</legend>
          <p class="formulario__p">(+58)0412-5392348</p>

        </fieldset>
      </div>
      <div class="formulario__email">
        <fieldset class="formulario__fieldset">
          <legend class="formulario__title">contactanos por email</legend>
          <div class="formulario__casula">
            <label class="formulario__label" for="nombre">Nombre</label>
            <input class="formulario__input" placeholder="Tu Nombre" type="text" name="" id="nombre" value="">
          </div>
          <div class="formulario__casula">
            <label class="formulario__label" for="email">Email</label>
            <input class="formulario__input" placeholder="Tu Email" type="email" name="" id="email" value="">
          </div>
          <div class="formulario__casula">
            <label class="formulario__label" for="cc">Cc</label>
            <input class="formulario__input" placeholder="Cc" type="text" name="" id="cc" value="">
          </div>
          <div class="formulario__casula">
            <label class="formulario__label" for="mensaje">Mensaje</label>
            <textarea class="formulario__textarea" placeholder="Tu Mensaje" name="name" rows="8" cols="80"></textarea>
          </div>
          <div class="formulario__casula">
            <input type="submit" class="btn formulario__btn" name="" value="Enviar">
          </div>
        </fieldset>
      </div>


    </div>
  </form>
  <div class="contacto__map" id="map"></div>
</section>

</main>
<!-- MAIN END -->


  <%- include('../layouts/footer.ejs')%>
