<%- include('../layouts/header.ejs')%>

<!-- MAIN -->
<main>

  <section class="nosotros">
    <h2 class="nosotros__h2">Conoce Mas Sobre Nosotros</h2>
    <div class="content">
      <div class="nosotros__flex">
        <div class="nosotros__imgContent">
          <img src="img/llaves.webp" class="nosotros__img" alt="">
        </div>
        <div class="nosotros__content">
          <h3 class="nosotros__titulo">¿Quiénes Somos?</h3>
          <p class="nosotros__p">Somos una empresa de metalmecánica con más de 40 años en el mercado dedicada a la reconstrucción de partes y piezas de cajas sincrónicas para vehículos automotrices y maquinarias Agroindustrial, así como la comercialización de repuestos tanto de nueos como usados.</p>
        </div>
      </div>
    </div>
  </section>


  <!-- SERVICEHEADER -->
  <section class="serviceHeader serviceHeader--nosotros">
    <div class="serviceHeader__div">
      <div class="serviceHeader__content">
      <div class="content">

          <h3 class="serviceHeader__title serviceHeader__title--nosotros">Nuestra Misión</h3>
          <p class="serviceHeader__paraf serviceHeader__paraf--nosotros">
            Ofrecer un servicio técnico especializado y una alternativa enfocada exdusivamente a todos los sectores automotrices agroindustrial, referente a la reconstrucción y recuperación de piezas de cajas sincrónica, transmisiones y partes de maquinarias pesadas, usando para ello materia prima de alta calidad, maquinas especializadas (Tornos) y herramientas de alta precisión, todo esto siquiendo normas nacionales e internacionales, permitiendo aportar conocimientos profesionales y técnicos a fin de garantizar los mejores resultadosen el desarrollo de cada actividad y dando soluciones  nuestros clientes a sus requerimientos y necesidades de una manera eficaz.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- SERVICEHEADER END -->


  <section class="nosotros">
    <div class="content">
      <div class="nosotros__flex">
        <div class="nosotros__content">
          <h3 class="nosotros__titulo">Nuestra Visión</h3>
          <p class="nosotros__p">Ser la empresa líder en el área de la reconstrucción y recuperación de partes y piezas mecánicas para los sectores automotriz y Agroindustrial, brindando el apoyo técnico necesario a nuestros clientes y permitiendo ser parte importante en la actividad económica del país</p>
        </div>
        <div class="nosotros__imgContent">
          <img src="img/gearbox.webp" class="nosotros__img" alt="">
        </div>
      </div>
    </div>
  </section>



</main>


<!-- MAIN END -->


<%- include('../layouts/footer.ejs')%>
